@use "@angular/material" as mat;
@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --mat-paginator-container-background-color: transparent;
  --mat-paginator-enabled-icon-color: orange;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-paginator {
  background-color: var(--mat-paginator-container-background-color) !important;
}

.mat-paginator .mat-icon-button:not([disabled]) {
  color: var(--mat-paginator-enabled-icon-color) !important;
}

.mdc-notched-outline__trailing,
.mdc-notched-outline__notch,
.mdc-notched-outline__leading {
  border-color: theme("colors.gray.200") !important;
}

.mat-mdc-raised-button {
  border-radius: 8px !important;
  padding: 0.5rem 1rem !important;

  &:not(:disabled) {
    background-color: theme("colors.orange.50") !important;
    color: theme("colors.orange.500") !important;

    &:hover {
      background-color: theme("colors.orange.500") !important;
      color: theme("colors.white") !important;
    }
  }
}

.star {
  color: gold;
}

.star-o {
  color: gray;
}

.app-input {
  border: 1px solid theme("colors.gray.200");
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 100%;

  &:focus {
    outline-style: none;
    border-color: theme("colors.orange.500") !important;
  }
}
