@use "@angular/material" as mat;
@use "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
      enabled-icon-color: orange,
    )
  );
}

.mdc-notched-outline__trailing,
.mdc-notched-outline__notch,
.mdc-notched-outline__leading {
  border-color: theme("colors.gray.200") !important;
}

.mat-mdc-raised-button {
  border-radius: 8px !important;
  padding: 0.5rem 1rem !important;

  &:not(:disabled) {
    background-color: theme("colors.orange.50") !important;
    color: theme("colors.orange.500") !important;

    &:hover {
      background-color: theme("colors.orange.500") !important;
      color: theme("colors.white") !important;
    }
  }
}

.star {
  color: gold;
}

.star-o {
  color: gray;
}

.app-input {
  border: 1px solid theme("colors.gray.200");
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 100%;

  &:focus {
    outline-style: none;
    border-color: theme("colors.orange.500") !important;
  }
}
